doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="shrink-to-fit=no, initial-scale=1.0, width=device-width")
    meta(name="description", content="")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
    link(rel="icon", type="image/png", href="./favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="./favicon-16x16.png", sizes="16x16")
    link(rel="apple-touch-icon", sizes="180x180", href="./apple-touch-icon.png")
    link(rel="manifest", href="./site.webmanifest")
    link(rel="stylesheet", href="./css/app.css")
    link(rel="icon", href="./favicon.ico")
    title Template 00
  body font test2
    include blocks/_test.pug
    img(src=require("@/assets/images/logo.png"))